.btn {
  background: transparent !important;
  color: #678740 !important;
  border: 1px solid #678740;
  width: 160px;
}
.btn:hover {
  background-color: #678740 !important;
  color: white !important;
}

.table-wrapper {
  margin-top: 2.2rem;
}
.nav-pills {
  gap: 10px;
}

.table-wrapper::-webkit-scrollbar {
  height: 6px;
}

/* Track */
.table-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.table-wrapper::-webkit-scrollbar-thumb {
  background: #678740;
  border-radius: 10px;
}
// responsive

@media (width < 992px) {
  .table-wrapper {
    margin-top: 1.7rem;
  }
}
@media (width < 768px) {
  table {
    width: 576px !important;
  }
}
// .section:nth-child(even) {
//   height: 700px;

//   margin: 30px;
// }
// .section:nth-child(odd) {
//   height: 800px;
// }
