table .thead td {
  table-layout: fixed !important;
  width: 40px !important;
  overflow: hidden !important;
  word-wrap: break-word !important;
}

.thead tr > td {
  text-align: center !important;
  font-weight: bold !important;
}
table .thead tr > td {
  background-color: #678740;
  color: white;
  border: 1px solid #55eb55;
}

.tbody tr > td {
  text-align: center !important;
  padding: 0.85rem !important;
  border: 1px solid green;
  vertical-align: middle !important;
  min-width: 100px;
}
.thead tr > td:first-child {
  border-left: 1px solid #678740;
}
.thead tr > td:last-child {
  border-right: 1px solid #678740;
}

.drop-menu,
.action-drop-menu {
  min-width: 95px;
}

.fadde {
  transition: all 0.3s;
  animation: fadde 1.5s;
}

@keyframes fadde {
  0% {
    opacity: 0;
    visibility: none;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

table {
  cursor: grab;
}
table.grabbing {
  cursor: grabbing;
}

// responsive
@media (width < 992px) {
  .drop-menu,
  .action-drop-menu {
    width: 95px;
  }
}
