body {
  padding-bottom: 200px;
}

table thead td {
  table-layout: fixed !important;
  width: 40px !important;
  overflow: hidden !important;
  word-wrap: break-word !important;
}

thead tr > td {
  text-align: center !important;
  font-weight: bold !important;
}
thead tr > td:first-child {
  width: 140px !important;
  border-left: 1px solid #678740;
}
thead tr > td:last-child {
  width: 130px !important;
  border-right: 1px solid #678740;
}
tbody tr > td {
  text-align: center !important;
  padding: 0.85rem !important;
  border: 1px solid green;
  vertical-align: middle !important;
}

.tab-menu > li > button {
  margin: 0 auto;
  border: 1px solid #678740 !important;
}
.nav-item button {
  padding: 0.5rem !important;
  width: 160px;
}
.tab-menu > li > button.active {
  background-color: #678740 !important;
}
table thead tr > td {
  background-color: #678740;
  color: white;
  border: 1px solid #55eb55;
}
.fadde {
  transition: all 0.3s;
  animation: fadde 1.5s;
}

@keyframes fadde {
  0% {
    opacity: 0;
    visibility: none;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

table {
  cursor: grab;
}
table.grabbing {
  cursor: grabbing;
}
