@import "ember-cli-bootstrap-4/bootstrap";

// @import "ember-bootstrap/bootstrap";
@import "./table";
@import "./_dashboard";
@import "./profileForm";
@import "./adminpanel";
@import "./zakatRequests";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
