<LinkTo @route="index">
  Home
</LinkTo>
{{! template-lint-disable no-inline-styles }}
<LinkTo style="margin-left:14px;" @route="inbox">
  inbox
</LinkTo>
<LinkTo style="margin-left:14px;" @route="dashboard">
  dashboard
</LinkTo>
{{! <LinkTo style="margin-left:14px;" @route="authenticated.dashboard">
  dashboard
</LinkTo> }}
<LinkTo style="margin-left:14px;" @route="profile">
  Profile
</LinkTo>
{{! <LinkTo style="margin-left:14px;" @route="authenticated.profile">
  Profile
</LinkTo> }}
<LinkTo style="margin-left:14px;" @route="admin-panel">
  Admin panle
</LinkTo>
{{! <LinkTo style="margin-left:14px;" @route="secret">
  secret
</LinkTo> }}
{{! <LinkTo style="margin-left:14px;" @route="authenticated.secret">
  secret
</LinkTo> }}

{{#if this.session.isAuthenticated}}
  <button
    type="button"
    style="margin-left:14px;border:1px solid blue;"
    {{on "click" this.logout}}
  >
    logout
  </button>

{{else}}
  <button type="button" style="margin-left:14px;border:1px solid blue;">
    <LinkTo @route="login">login</LinkTo>
  </button>

{{/if}}