<div class="container">
  <div class="row">
    <div class="col-6 mt-5">

      <form class="row form">
        <div class="col-12">
          <div class="img-div mb-3">
            <img class="img-fluid" alt="user image" src="/images/images.png" />
          </div>
        </div>
        <div class="col-6">
          <input type="text" class="form-control" placeholder="First Name" />
        </div>
        <div class="col-6">
          <input type="text" class="form-control" placeholder="Last Name" />
        </div>
        <div class="col-6">
          <input type="text" class="form-control" placeholder="pro Phone" />
        </div>
        <div class="col-6">
          <input type="email" class="form-control" placeholder="Pro Email" />
        </div>
        <div class="col-6">
          <input type="text" class="form-control" placeholder="Paid word" />
        </div>
        <div class="col-6">
          <input type="text" class="form-control" placeholder="Designation" />
        </div>
      </form>

    </div>
    <div class="col-6">

    </div>

  </div>

</div>