<div class="container-fluid p-0">
  <ZakatRequest::ZakatRequestNavbar />

  <div class="zakat-request-content px-2">

    <ZakatRequest::ZakatRequestTable
      @tableTextColor="white"
      @tableColor="#4db14d"
    />

  </div>

</div>