<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color:#4db14d"
>
  <a class="navbar-brand" href="#">
    <img
      class="navbar-logo"
      alt="zakatlogo"
      src="https://sadaqatulzakat.com/assets/images/logo-53b2e5631ce2cce6c254cd6c6fff98f9.png"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <p class="nav-title" style="color:white;">
          Zakat Requests Page
        </p>

      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0 position-relative">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        style="background-color:white"
      />
      <span class="position-absolute" style="right:20px">
        {{! <i class="fa-solid fa-magnifying-glass"></i> }}
        <img
          class="search-img"
          src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Search_Icon.svg"
          alt="searchimg"
        />
      </span>
    </form>

    <div class="account d-flex align-items-center">
      <div class="account-logo-wrapper-zakat-request"><img
          class="account-logo"
          alt="zakatlogo"
          src="https://www.shutterstock.com/image-photo/portrait-young-smiling-caucasian-man-260nw-1491969899.jpg"
        /></div>
      <div style="color:white; cursor:pointer;" class="ml-2">Sign Out</div>
    </div>

  </div>
</nav>